$theme-dark: #1b1d21;
$theme-darker: #2a2c2f;
$theme-lighter: #303030;
$theme-light: #ededed;
$theme-grey: #c7c7c7;
$theme-darkgrey: #9e9d9d;
$theme-color: #41434a;
$theme-color-light: #626570;
$theme-red: #dc4740;
$theme-green: #34d8bf;
$theme-bright: #00ffd9;

$theme-font: 'Poppins', sans-serif;
$theme-numeric: 'Roboto Mono', monospace;

$font-default: 16px;

$font-xl: 3.2rem;
$font-large: 2rem;
$font-medium: 1.25rem;
$font-regular: 1rem;
$font-small: 0.9rem;
$font-xs: 0.75rem;

$radius-default: 12px;
$spacing-large: 40px;
$spacing-default: 32px;
$spacing-medium: 16px;
$spacing-small: 12px;

$breakpoint-large: 1380px;
$breakpoint-medium: 750px;