/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {
  max-width: 100%;
}

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dddddd;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
  border: none;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

body {
  background-color: #1b1d21;
  color: #ededed;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

button {
  background: #41434a;
  border-top: 1px solid #303030;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #ededed;
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  padding: 10px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  min-width: 200px;
}

button:hover {
  background: #626570;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
}

.number {
  font-family: "Roboto Mono", monospace;
}

.top-indent {
  padding-top: 72px;
}

.bottom-indent {
  padding-bottom: 20px;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.heading {
  padding: 24px 48px 0;
  margin-bottom: 20px;
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.heading .suffix {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  bottom: 4px;
}

.icon {
  display: inline-block;
  vertical-align: sub;
  color: #ededed;
  margin-right: 8px;
  background-size: cover;
  width: 1.25rem;
  height: 1.25rem;
}

.icon.small {
  width: 0.9rem;
  height: 0.9rem;
}

.icon.big {
  width: 3.2rem;
  height: 3.2rem;
}

.icon.cpu {
  background-image: url("./assets/icons/cpu.png");
}

.icon.cpu.color {
  background-image: url("./assets/icons/cpu-green.png");
}

.icon.gpu {
  background-image: url("./assets/icons/gpu.png");
}

.icon.gpu.color {
  background-image: url("./assets/icons/gpu-green.png");
}

.icon.save {
  background-image: url("./assets/icons/save.png");
}

.icon.info {
  background-image: url("./assets/icons/info.png");
}

.icon.details {
  background-image: url("./assets/icons/details.png");
}

.icon.plus {
  background-image: url("./assets/icons/plus.png");
}

.icon.close {
  background-image: url("./assets/icons/close.png");
}

.unit {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  padding-left: 4px;
}

.details-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.details-row .details-heading {
  color: #9e9d9d;
  font-size: 0.75rem;
  padding: 8px 0 4px;
}

.details-row .details-value {
  color: #ededed;
  font-family: "Roboto Mono", monospace;
  font-size: 1.25rem;
  font-weight: 400;
}

.details-row .details-content {
  padding-bottom: 24px;
  color: #ededed;
  font-size: 0.9rem;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-row.gap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  padding-bottom: 40px;
}

.flex-row.gap .flex-gap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-row .flex-col.w50 {
  padding: 0 40px 40px;
}

.flex-row .flex-col.no-padding {
  padding-right: 0;
}

.flex-row .svg-box {
  position: relative;
  height: 360px;
}

.flex-row .svg-box .main-score {
  position: absolute;
  top: 160px;
  left: 52px;
  text-align: center;
  font-size: 2rem;
}

.flex-row .svg-box .main-score .positive {
  color: #34d8bf;
}

.flex-row .svg-box h3 {
  font-weight: 300;
}

.flex-row .svg-box p {
  padding: 8px 0;
  color: #c7c7c7;
  font-size: 0.9rem;
}

svg line.pointer {
  stroke: #c7c7c7;
  stroke-width: 2;
}

.keyart {
  background-image: url("./assets/img/time_spy_extreme_heroimage_1920x1080.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  border-radius: 12px;
}

.result-box {
  background-color: #2a2c2f;
  border-radius: 12px;
  padding: 32px;
  overflow: hidden;
}

.result-box.tall {
  height: 400px;
}

.graph-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.graph-box .w50 {
  padding-left: 60px;
}

.tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tile:not(:last-child) {
  padding-bottom: 32px;
}

.tile.spread {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tile .tile-icon {
  padding-right: 16px;
}

.tile .tile-heading {
  font-size: 0.75rem;
  color: #9e9d9d;
}

.tile .tile-number {
  font-size: 2rem;
  font-weight: 300;
  color: #ededed;
}

.tile .tile-value {
  padding-top: 4px;
  font-size: 1rem;
}

.tile .tile-content {
  color: #9e9d9d;
  font-size: 1rem;
  text-transform: uppercase;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.list-item:not(:last-child) {
  margin-bottom: 16px;
}

.list-item:last-child {
  padding-bottom: 0;
}

.list-item .list-heading {
  width: 100px;
  color: #9e9d9d;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding-bottom: 2px;
}

.list-item .list-content {
  padding-top: 12px;
  padding-right: 12px;
  font-size: 1rem;
  border-top: 1px solid #34d8bf;
}

.accordion {
  width: 100%;
  cursor: pointer;
  padding: 12px;
  margin-top: 12px;
  color: #ededed;
  font-size: 1rem;
  border-left: 4px solid #34d8bf;
  background-color: #41434a;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion .icon {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.accordion .icon.rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.accordion:hover {
  background-color: #626570;
}

.panel {
  padding: 0 40px;
  width: 100%;
  height: 0;
  opacity: 0;
  background-color: #41434a;
  overflow: scroll;
  -webkit-transition: height 400ms 0ms, opacity 400ms 0ms;
  transition: height 400ms 0ms, opacity 400ms 0ms;
  border-left: 4px solid #34d8bf;
}

.panel.visible {
  height: 300px;
  opacity: 1;
  -webkit-transition: height 600ms 0ms, opacity 600ms 0ms;
  transition: height 600ms 0ms, opacity 600ms 0ms;
}

.panel .panel-list {
  padding-top: 16px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel dt {
  font-size: 0.75rem;
  color: #9e9d9d;
}

.panel dd {
  font-size: 1rem;
  margin-bottom: 10px;
}

@media (max-width: 1380px) {
  .graph-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-y: scroll;
  }
  .graph-box .w50 {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .keyart {
    display: none;
  }
  .tall {
    height: 800px;
  }
  .w50 {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */